


body, #root {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #fff;
}

 .main-container {
	width: 1000px;
	min-height: 700px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 48px 40px;
	background: #334155;
	border-radius: 28px;
	box-shadow: 0 8px 32px rgba(0,0,0,0.12);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  color: #fff;
}
